---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103hFW2rBLgVVd2B3l4OaLEJ&email=john%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_S7SfOyW1ciRq6DBVsEb7WPRW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1395263699,
          "id": "cus_3hFWqiV6mhz7nd",
          "livemode": false,
          "description": null,
          "email": "john@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3hFWqiV6mhz7nd/subscriptions",
            "data": [
              {
                "id": "sub_3hFWI3ZqjCRuq7",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1394920135,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "Myflix"
                },
                "object": "subscription",
                "start": 1395263700,
                "status": "active",
                "customer": "cus_3hFWqiV6mhz7nd",
                "cancel_at_period_end": false,
                "current_period_start": 1395263700,
                "current_period_end": 1397942100,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3hFWqiV6mhz7nd/cards",
            "data": [
              {
                "id": "card_103hFW2rBLgVVd2B6X5w1VMO",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2015,
                "fingerprint": "DtFcTOgjqEjUcaMY",
                "customer": "cus_3hFWqiV6mhz7nd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103hFW2rBLgVVd2B6X5w1VMO"
        }
  recorded_at: Wed, 19 Mar 2014 21:15:01 GMT
recorded_with: VCR 2.8.0
