---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103eFy2rBLgVVd2B96NHARFT
    headers:
      Authorization:
      - Bearer sk_test_S7SfOyW1ciRq6DBVsEb7WPRW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103eFy2rBLgVVd2Btkm5n1yH",
          "object": "charge",
          "created": 1394573448,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103eFy2rBLgVVd2BNWJvBRU6",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2015,
            "fingerprint": "DtFcTOgjqEjUcaMY",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103eFy2rBLgVVd2BXxAohWqo",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Tue, 11 Mar 2014 21:30:48 GMT
recorded_with: VCR 2.8.0
