---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103egm2rBLgVVd2BuSkvpFAi
    headers:
      Authorization:
      - Bearer sk_test_S7SfOyW1ciRq6DBVsEb7WPRW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103egm2rBLgVVd2B5TBLISU0"
          }
        }
  recorded_at: Thu, 13 Mar 2014 01:12:24 GMT
recorded_with: VCR 2.8.0
