---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103hFV2rBLgVVd2BoFUJo9Oa&email=alice%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_S7SfOyW1ciRq6DBVsEb7WPRW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 19 Mar 2014 21:13:28 GMT
recorded_with: VCR 2.8.0
