---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103hCJ2rBLgVVd2B789CIt9u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_S7SfOyW1ciRq6DBVsEb7WPRW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103hCJ2rBLgVVd2B789CIt9u",
          "created": 1395251776,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103hCJ2rBLgVVd2BYWPL2Vkj",
              "object": "charge",
              "created": 1395251776,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103hCI2rBLgVVd2B73cybvqk",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2015,
                "fingerprint": "JSWkMcrTia9oRphG",
                "customer": "cus_3gsRIWWuPGLpvg",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3gsRIWWuPGLpvg",
              "invoice": null,
              "description": "payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_3hCJVohQgIEy6H"
        }
  recorded_at: Wed, 19 Mar 2014 18:24:56 GMT
recorded_with: VCR 2.8.0
