---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103gYE2rBLgVVd2BW36IO9gf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_S7SfOyW1ciRq6DBVsEb7WPRW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103gYE2rBLgVVd2BW36IO9gf",
          "created": 1395102641,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103gYE2rBLgVVd2BVBN3az5K",
              "object": "charge",
              "created": 1395102640,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103gYE2rBLgVVd2B4Mho3S0H",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2015,
                "fingerprint": "DtFcTOgjqEjUcaMY",
                "customer": "cus_3gYEgs6f5qNfVo",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103gYE2rBLgVVd2B0LfNOCN4",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3gYEgs6f5qNfVo",
              "invoice": "in_103gYE2rBLgVVd2BvhC9UArD",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "Myflix"
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3gYEGwxyLT6j5x"
        }
  recorded_at: Wed, 19 Mar 2014 18:54:38 GMT
recorded_with: VCR 2.8.0
